.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.button {
  padding: 1rem 2rem;
  margin: 1rem 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
