.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.someoneElse {
  margin-top: 1rem;
}

.shippingWarning {
  margin: 0;
  font-style: italic;
  color: red;
}

.checkboxContainer {
  margin: 1rem auto;
}

.outerContainer {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.delivery {
  margin: 3rem auto;
}

.createAccount {
  margin: 3rem auto;
}

.twoWide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textArea {
  font-family: "Montserrat", sans-serif !important;
}

.error {
  font-weight: bold;
  color: red;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }
}
