.container {
  margin: 3rem auto;
  width: 90%;
  max-width: 560px;
  padding: 40px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
}

.success {
  text-align: center;
}

.succuessIcon.succuessIcon {
  font-size: 6rem;
}

.success p {
  margin-bottom: 0;
  font-size: 22px;
}

.form h2 {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.error {
  color: red;
  font-weight: bold;
  margin: 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
