.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
}

.postList {
  display: flex;
  gap: 1rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .postList {
    flex-direction: column;
    text-align: center;
  }
}
