.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
}

.postList {
  display: flex;
  gap: 1rem;

  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.listItem {
  width: 280px;
}
