.container {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
}

.postList {
  display: flex;
  gap: 1rem;

  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0;
}

.listItem {
  width: 220px;
}
