.container {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--primaryColour);

  display: flex;
  justify-content: space-between;
}

.video {
  max-width: 450px;
  height: 280px;
  padding-right: 2rem;
}

.findOutMore {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

/* Mobile CSS */
@media (max-width: 760px) {
  .container {
    flex-direction: column;
    padding: 1rem;

    margin: 0;
  }

  .video {
    padding-right: 0;
    width: 100%;
    height: 200px;
  }
}
