.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);

  background-color: var(--secondaryColour);
  padding: 4rem 0;
  display: flex;
}

.innerContainer {
  background-color: var(--primaryColour);

  padding: 2rem;
  margin: 0 auto;
  width: 75%;

  text-align: center;
}

.form {
  display: flex;
  padding: 0 3rem;
  gap: 1rem;
}

.form > input {
  flex-grow: 1;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .form {
    flex-direction: column;
    padding: 0;
  }
}
