.container {
  width: 100%;
}

.ebook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.newsletterContainer {
  margin: 1rem auto;
}

.donateContainer {
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}

.radioGroup {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.downloadButtonContainer {
  margin: 2rem 0;
}

.addToCartButtonContainer {
  margin: 1rem 0;
}

.price {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.closeButton {
  background: none;
  border: 0;

  color: #00537f;
  font-size: 16px;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  text-decoration: underline;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}

.topSection {
  text-align: center;
}

.topSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.topSection p {
  width: 60%;
  min-width: 250px;
  margin: 0 auto;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }

  .ebook {
    flex-direction: column;
    gap: 1rem;
  }
}
