.container {
  width: 100%;
}

.radioGroup {
  justify-content: flex-start;
  margin: 1.5rem 0;
}

.downloadButtonContainer {
  margin: 2rem 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
