.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.right {
  margin: 1rem 0;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 107, 146, 0.25);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.buttonContainer {
  margin: 1rem 0;
  margin-top: 2rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
