/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #6191b0;
}
.ribbon span {
  position: absolute;
  display: block;
  font-weight: bold;
  z-index: 99;
  width: 225px;
  padding: 9px 0;
  background-color: #6191b0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbonTopRight {
  top: -10px;
  right: -10px;
}
.ribbonTopRight::before,
.ribbonTopRight::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbonTopRight::before {
  top: 0;
  left: 7px;
}
.ribbonTopRight::after {
  bottom: 7px;
  right: 0;
}
.ribbonTopRight span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.container {
  margin: 3rem auto;
  width: 90%;
  max-width: 1024px;
}

.tagLineContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.visitBlogLink {
  display: flex;
  align-items: center;
  color: #00537f;
  text-decoration: none;
  font-size: 18px;
}

.visitBlogLink:hover,
.visitBlogLink:focus {
  text-decoration: underline;
}

.tagLine {
  color: #666666;
  font-size: 18px;
}

.title {
  color: #333333;
  font-size: 44px;
  margin: 0;
  margin-top: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  align-items: stretch;
}

.flexItem {
  flex: 1 1 0;
  min-width: 280px;
  max-width: 480px;
  position: relative;
}

.downloadIcon {
  position: absolute;
  right: 0;
  padding: 1rem;
  z-index: 99;
}

.downloadBackground.downloadBackground {
  background-color: #00537f;
}

.listLink {
  height: 100%;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
}

.imageContainer {
  width: 100%;
  position: relative;
  height: 350px;
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.fakeImageContainer {
  height: 350px;
  position: relative;
  width: 100%;
}

.fakeImage {
  z-index: -1;
}

.postTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0 1rem;
  color: #333333;
}

.postTitleContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogTag {
  color: #000000;
  background: #94c64e;
  border-radius: 20px;
  padding: 6px 12px;
  display: inline-block;
  margin: 0;
  text-transform: capitalize;
  margin-top: -24px;
  z-index: 1;
  max-width: 80%;
  text-align: center;
  /* border: 4px solid #94c64e; */
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 107, 146, 0.25);
}

.fakeImageCover {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  position: absolute;
}

.smallCards {
  height: 255px;
}

.smallCardContainer {
  /* width: 100%; */
  min-width: 230px;
  max-width: 350px;
}

.backgroundColorForLighthouse {
  background-color: rgba(0, 83, 127, 1);
  height: 100%;
  width: 100%;
  position: absolute;
}

.blueCover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 83, 127, 0.9);

  padding: 0 2rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
