.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 3rem;
  gap: 0.5rem;
}

.voucherInput {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.button {
  white-space: nowrap;
}

.existingUser {
  margin-left: auto;
  background: none;
  color: #00537f;
  border: 2px solid #00537f;
}

.error {
  font-weight: bold;
  color: red;
}

/** Mobile CSS */
@media (max-width: 860px) {
  .container {
    flex-direction: column;
  }
}
