.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1540px;
  background: #eeeeee;
  padding: 3rem 1rem;
}

.innerContainer {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
  width: 90%;

  display: flex;

  gap: 2rem;
}

.innerContainer > div {
  flex: 1 1 0px;
}

.weBelieveWrapper {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* This is lazy and potentially flakey */
.innerContainer > div > h2 {
  color: #333333;
  font-size: 34px;
  font-weight: normal;
  margin: 0;
}

.innerContainer > div > p {
  color: #333333;
  font-size: 16px;
  margin: 0.5rem 0;
}

.weBelieveTagLine {
  text-align: center;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(-60px);
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

.prev {
  opacity: 0;
  transform: translateY(60px);
}

.weBelieveTagLine > p {
  color: #666666;
  font-size: 34px;
}

.weBelieveTagLine span {
  color: #00537f;
  font-weight: bold;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .innerContainer {
    flex-direction: column;
    gap: 0;
  }
}
