.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.innerContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .innerContainer {
    gap: 0;
    flex-direction: column;
  }
}
