.desktopContainer {
}

.mobileContainer {
  display: none;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.18);
  padding-left: 2rem;
}

.menuButton.menuButton.menuButton {
}

.navButton.navButton {
  border: none;
  display: flex;
  gap: 0.5rem;
  border-radius: 0;
  padding: 2rem 1rem;
  font-size: 18px;
  font-weight: bold;
}

.icon.icon {
  font-size: 2rem;
}

.buttonOpen.buttonOpen {
  background-color: #eeeeee;
}

.buttonContainer {
  display: flex;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .desktopContainer {
    display: none;
  }
  .mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
