.desktopContainer {
}

.mobileContainer {
  display: none;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .desktopContainer {
    display: none;
  }
  .mobileContainer {
    display: block;
  }
}
