.container {
  background: #eeeeee;
  width: 100%;
}

.innerContainer {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  padding: 3rem 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
