.cardContainer {
  width: 100%;

  padding-top: 250px;
}

.cardInnerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.card {
  width: 300px;
  background-color: var(--primaryColour);
  padding: 2rem;
}

.container {
  background-color: var(--secondaryColour);
  box-sizing: border-box;
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
  height: 400px;

  margin-bottom: calc(50px + 3rem);
}
