.cardContainer {
  position: absolute;
  width: 100%;
}

.cardInnerContainer {
  margin: 0 auto;
  max-width: var(--containerMaxWidth);

  display: flex;
  justify-content: flex-end;
  margin-top: 250px;
}

.imageContainer {
  position: absolute;
  width: 100vw;
}

.card {
  width: 300px;
  background-color: var(--primaryColour);
  padding: 2rem;
}

.container {
  height: 454px;
}

.aboutUs {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
}
