.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.label {
  display: block;
  color: #333333;
}

.input.input {
  border-radius: 25px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
