.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.label {
  display: block;
  color: #333333;
}
.title {
  font-size: 24px;
  font-weight: bold;
}

.input.input {
  border-radius: 25px;
}

.textArea.textArea {
  font-family: "Montserrat", sans-serif !important;
  border-radius: 25px;
}

.errorMessage {
  color: red;
}

.formControl {
  margin: 2rem 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
