.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .innerContainer {
    flex-direction: column;
  }
}
