.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.container tr {
  padding: 10rem;
}
.container th {
  text-align: left;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
