.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-bottom: 2rem;
}

.table td {
  padding: 20px;
}
.table th {
  padding: 20px;

  text-align: left;
}

.table {
  border-collapse: collapse;
}

.table table,
.table tr {
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
}

.buttonContainer {
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  color: #00537f;
}

.link:focus,
.link:hover {
  text-decoration: underline;
}

.tableHeader {
  color: #00537f;
  font-size: 16px;
  font-weight: bold;
}

.rightAlignText {
  text-align: right;
}

.shipping p {
  margin: 0;
}

.cost {
  color: #00537f;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .table {
  }

  .hideOnMobile {
    display: none;
  }
}
