.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-bottom: 2rem;
}

.table td {
  padding: 20px;
}
.table th {
  padding: 20px;

  text-align: left;
}

.table {
  border-collapse: collapse;
}

.table table,
.table th,
.table td {
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
}

.buttonContainer {
  margin: 2rem auto;
  margin-bottom: 1rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .table {
  }
}
