.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.selectContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 1rem 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .selectContainer {
    flex-direction: column;
  }
}
