.container {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
}

.price {
  color: black;
  /* margin-top: auto; */
  margin-bottom: 0;

  text-align: center;
}

.postTitleContainer {
  justify-content: start;
}

.postList {
  display: flex;
  gap: 1rem;

  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0;
}

.tagline {
  margin-top: 0;
}

.viewAllLink {
  color: #00537f;
  font-size: 18px;
  text-decoration: none;
  margin-left: auto;
}

.viewAllLink:hover {
  text-decoration: underline;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 34px;
  font-weight: normal;
  margin: 0;
}

.card {
  /* width: 100%; */
  min-width: 230px;
  max-width: 350px;
  /* background: #eeeeee; */
}

.productTitle {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
}

.listItem {
  width: 220px;
}

.imageContainer {
  height: 255px;
  width: 90%;
}
.imageContainer img {
  object-fit: contain;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .titleContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .viewAllLink {
    margin-left: 0;
  }
}
