.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.buttonContainer {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  height: 500px;
  width: 100%;
  padding-top: 175px;
}

.imageContainer {
  position: relative;
  background-color: rgba(33, 107, 146, 1);
  max-width: 1540px;
  margin: 0 auto;
  height: 500px;
  display: flex;
}

.image {
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  display: block;
}

.card {
  background-color: #bfdded;
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
  margin-top: -150px;
  padding: 38px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 3rem;
}

.tagLine {
  color: #00537f;
  font-size: 29px;
  margin: 0;
  text-align: center;
}

.ctaText {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.ctaButton.ctaButton {
  border: none;
  cursor: pointer;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: calc(-2rem - 40px);
}

.ctaAvatar.ctaAvatar {
  width: 80px;
  height: 80px;
  background: #94c64e;
  box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease;
}

.ctaButton.ctaButton:hover .ctaAvatar,
.ctaButton.ctaButton:focus .ctaAvatar {
  width: 100px;
  height: 100px;
  margin-top: -10px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.14);
}

.ctaButton.ctaButton:hover .ctaIcon,
.ctaButton.ctaButton:focus .ctaIcon {
  height: 80px;
  width: 80px;
}

.ctaIcon.ctaIcon.ctaIcon {
  height: 60px;
  width: 60px;
  transition: all 0.3s ease;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }

  .card {
    margin-top: -1rem;
    padding: 38px 20px;
  }

  .tagLine {
    font-size: 20px;
  }

  .image {
    height: 250px;
  }

  .imageContainer {
    height: 250px;
  }
}
