.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.imageContainer {
  background-color: rgba(33, 107, 146, 1);
}

.image {
  object-fit: cover;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  height: 500px;
  display: block;
  opacity: 0.75;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }

  .image {
    height: 250px;
  }
}
