.container {
  margin: 1rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  list-style-type: none;
  padding: 0;

  grid-template-columns: 1fr 1fr 1fr;

  display: grid;
  gap: 2rem;
}

.evenContainer.evenContainer {
  grid-template-columns: 1fr 1fr;
}

.backgroundColor {
  background: #133567;
}

.yellowTint {
  position: absolute;
  width: 100%;
  height: 100%;
}

.listItem {
  height: 280px;
  width: 100%;
}

.link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
}

.blueBannerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.blueBanner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.blueBanner p {
  color: #333333;
  font-size: 26px;
  font-weight: bold;
}

.avatar.avatar {
  background-color: #ffffff;
  margin-left: auto;
  color: #333333;

  width: 50px;
  height: 50px;
}

.icon.icon {
  font-size: 30px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .list.list {
    grid-template-columns: 1fr;
  }
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container.container {
    grid-template-columns: 1fr;
  }
}
