.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}
.variablesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  text-decoration: none;
  color: #333333;
  padding-top: 1rem;
  padding: 2rem;
  gap: 0.5rem;
}

.card p {
  margin: 0;
}

.card h2 {
  margin: 0;
}

.centerPicker {
  margin: 0 auto;
  margin-top: auto;
}

/** Mobile CSS */
@media (max-width: 1000px) {
  .variablesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

/** Mobile CSS */
@media (max-width: 760px) {
  .variablesGrid {
    grid-template-columns: 1fr;
  }
}
