.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "first first second second"
    ". third third .";
  gap: 2rem;
}

.container > :nth-child(1) {
  grid-area: first;
}

.container > :nth-child(2) {
  grid-area: second;
}

.container > :nth-child(3) {
  grid-area: third;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "second"
      "third";
    gap: 1rem;
  }
}
