.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1540px;

  background-color: #bfdded;
  padding: 4rem 0;
  display: flex;

  background-image: url("/wave.svg");
  background-size: cover;
}

.innerContainer {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}

.form {
  padding-top: 3rem;
  max-width: 640px;
}

.form > input {
  flex-grow: 1;
}

.titleContainer {
  font-family: "Yellowtail", cursive;
  display: flex;
  gap: 0.5rem;
}

.titleContainer h1 {
  margin: 0;
}

.description {
  color: #00537f;
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}
