.outerContainer {
  background: #eeeeee;
  padding: 4rem 0;
  z-index: -1;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);

  display: flex;
  gap: 1rem;
}

.container h2 {
  margin: 0;
}

.container p {
  margin: 0.5rem 0;
}

.imageContainer {
  position: relative;
  height: 100px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    flex-direction: column;
  }
}
