.image {
  object-fit: contain;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.imageContainer {
  /* padding: 8px; */
  z-index: -1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 8px;
}

.container {
  color: black;
  text-decoration: none;
  transition: box-shadow 0.1s;
  border-radius: 1rem;
  box-sizing: border-box;
}

.yellowGradient {
  background: linear-gradient(to bottom right, #fffae1, #f6eec5);
}

.redGradient {
  background: linear-gradient(to bottom right, #fff4f4, #f1d1d0);
}

.blueGradient {
  background: linear-gradient(to bottom right, #eaf8ff, #bfdded);
}

.orangeGradient {
  background: linear-gradient(to bottom right, #ffeed6, #f4d4a4);
}

.container h3 {
  margin: 0;
  font-weight: normal;
}

.container p {
  margin: 0;
}

.languages {
}

.addedBy {
  font-style: italic;
  font-weight: lighter;
}

.container:hover,
.container:focus {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.025);
  transition: transform 0.1s;
  padding: 1rem;
  margin: -1rem;
  background: white;
  /* border: 1px solid #00537f; */
  box-shadow: 0px 0px 0px 1px#00537f inset;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
