.container {
  margin: 4rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.container h2 {
  margin: 0;
}

.container p {
  margin: 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }
}
