.container {
  max-width: var(--containerMaxWidth);
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 10rem;
  align-items: flex-start;
  width: 90%;
}

.description {
  margin-top: -100px;
}

.description p {
  color: #333333;
  font-size: 16px;
}

.quote {
  display: flex;
  gap: 0.5rem;
  flex: 0 0 445px;
  max-width: 90%;
  min-width: 445px;
}

.quoteText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quoteText p {
  margin: 0;
}

.avatar.avatar {
  width: 60px;
  height: 60px;
  background: #bfdded;
}

.icon.icon {
  color: #345979;
  font-size: 40px;
}

.quoteContent {
  color: #00537f;
  font-size: 22px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .description {
    margin-top: 0;
  }

  .quote {
    min-width: 0;
  }
}

/** Mobile CSS */
@media (max-width: 1024px) {
  .container {
    gap: 4rem;
  }
}
