.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 4rem;
  align-items: center;
  width: 90%;
}

.description {
}

.description p {
  color: #333333;
  font-size: 16px;
}

.quote {
  display: flex;
  gap: 0.5rem;
  flex: 0 0 445px;
  max-width: 90%;
}

.quoteText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quoteText p {
  margin: 0;
}

.avatar.avatar {
  width: 60px;
  height: 60px;
  background: #bfdded;
}

.icon.icon {
  color: #345979;
  font-size: 40px;
}

.quoteContent {
  color: #00537f;
  font-size: 22px;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
