.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "description quote";
  align-items: center;
  width: 90%;
}

.description {
  grid-area: description;
}

.quote {
  grid-area: quote;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    max-width: var(--containerMaxWidth);
    margin: 0 auto;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
}
