.container {
  background-color: #333333;
}

.legalInfoContainer {
}

.legalInfo {
  color: #ffffff;
  font-size: 16px;
}

.phoneNumber {
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  gap: 4px;
  text-decoration: none;
  align-items: center;
}

.officeHours {
  font-size: 16px;
  color: #ffffff;
}

.roundedAvatar.roundedAvatar.roundedAvatar {
  border-radius: 25%;
  background-color: #292929;
}

.socialsContainer {
  display: flex;
  gap: 0.5rem;
  align-self: flex-start;
}

.avatarLink {
  cursor: pointer;
}

.copyright {
  font-size: 16px;
  color: #ffffff;
}

.helpAndSupport {
  color: #ffffff;
  margin-bottom: 0;
}

.helpAndSupportLink {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
}

.innerContainer {
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
  padding: 4rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.topArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flatList {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-grow: 1;
}

.flatList > :first-child {
  padding-left: 0;
}

.flatListLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.flatList :not(:last-child) {
  border-right: 1px solid #ffffff;
}

.bottomSection {
  display: flex;
}

.flatListItem {
  padding: 0 1rem;
}

@media (max-width: 1024px) {
  .socialsContainer {
    display: none;
  }
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    padding: 1rem;
  }

  .innerContainer {
    gap: 2rem;
  }

  .topArea {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .flatList {
    flex-direction: column;
  }

  .flatList :not(:last-child) {
    border-right: none;
  }

  .bottomSection {
    flex-direction: column;
  }

  .flatListItem {
    padding: 0;
  }
}
