.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.list {
  list-style-type: none;
  padding: 0;
  columns: 3;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .list {
    columns: 2;
  }
}
