.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.outerContainer {
  width: 100%;
  background-color: #eeeeee;
  padding: 3rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.title {
  font-size: 34px;
  text-align: center;
  font-weight: normal;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
