.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.rule {
  border-color: #eeeeee;
  margin: 0 1rem;
}

.details {
  max-width: 720px;
  margin: 2rem auto;
  width: 100%;
  border: 2px solid #919191;
  border-radius: 16px;
  padding: 1rem;
}

.sectionsHeader {
  background: #eeeeee;
  padding: 1rem;
}

.sectionsHeader h2 {
  margin: 0;
}

.row {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.row p {
  margin: 0;
}

.category {
  display: flex;
  gap: 4px;
  font-weight: bold;
}

.value {
  display: flex;
  gap: 4px;
}

.backTo {
  margin: 2rem 0;
}

.downloadButton {
  display: block;
  margin-top: 2rem;
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.topContainer h1 {
  margin-top: 0;
}

.yellowGradient {
  background: linear-gradient(to bottom right, #fffae1, #f6eec5);
}

.redGradient {
  background: linear-gradient(to bottom right, #fff4f4, #f1d1d0);
}

.blueGradient {
  background: linear-gradient(to bottom right, #eaf8ff, #bfdded);
}

.orangeGradient {
  background: linear-gradient(to bottom right, #ffeed6, #f4d4a4);
}
.imageContainer {
  position: relative;
  z-index: -1;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer img {
  object-fit: contain;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .topContainer {
    grid-template-columns: 1fr;
  }
}
