.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  background: #eeeeee;
  padding: 30px;
}

.container p {
  margin: 0;
}

.container h3 {
  margin: 0;
}

.cardElementContainer {
  margin: 1rem 0;
  margin-bottom: 0;
}

.cardElement {
  padding: 1rem;
  background: white;
  border-radius: 1rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
