.container {
  max-width: var(--containerMaxWidth);
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondaryColour);
  padding: 3rem 0;
}

.innerContainer {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--primaryColour);
  padding: 2rem;
}

.getInvolved {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}
