.container {
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
}

.container > h1 {
  text-align: center;
}

.topCards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.topCards p {
  width: 50%;
  margin: 0 auto;
}

.bottomCards {
  margin-top: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.bottomCards p {
  width: 80%;
  margin: 0 auto;
}

.twoWide {
  height: 250px;
  width: calc(var(--containerMaxWidth) / 2 - 2rem);
}

.threeWide {
  height: 250px;
  width: calc(var(--containerMaxWidth) / 3 - 2rem);
}
