.container {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 3rem auto;

  /* Extra top padding to compensate for play button */
  margin-top: 2rem;
}

.handwriting {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  color: #345979;
  margin-bottom: 0;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  text-decoration: none;
  color: #333333;
  height: 350px;
  padding-top: 1rem;
}

.cardContainer:hover .arrowAvatar,
.cardContainer:focus .arrowAvatar {
  width: 60px;
  height: 60px;
}

.cardContainer:hover .arrowIcon,
.cardContainer:focus .arrowIcon {
  width: 45px;
  height: 48px;
}

.arrowIcon.arrowIcon {
  transition: all 0.3s ease;
}

.cardHeadline {
  font-weight: bold;
}

.image {
  width: 80%;
  max-height: 100%;
  object-fit: cover;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cardImage {
  width: auto;
  height: 100%;
  width: 100%;
}

.cardImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  max-height: 100%;

  height: 100%;
}

.bottomSection {
  padding: 1rem;
}

.container > h1 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.allCards p {
  width: 90%;
  margin: 0 auto;
}

.gettingStarted {
  grid-area: gettingStarted;
}

.resources {
  grid-area: resources;
}

.aceCentreLearning {
  grid-area: aceCentreLearning;
}
.assessment {
  grid-area: assessment;
}
.helpline {
  grid-area: helpline;
}

.allCards {
  text-align: center;
  margin: 2rem auto;

  grid-gap: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "gettingStarted gettingStarted gettingStarted resources resources resources"
    "aceCentreLearning aceCentreLearning assessment assessment helpline helpline";
}

.arrowAvatar.arrowAvatar {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  color: #333333;
  transition: all 0.3s ease;
}

/* Mobile CSS */
@media (max-width: 760px) {
  .allCards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ".  gettingStarted gettingStarted ."
      "resources resources aceCentreLearning aceCentreLearning"
      "assessment assessment helpline helpline";
  }

  .allCards p {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .allCards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "gettingStarted"
      "resources"
      "aceCentreLearning"
      "assessment"
      "helpline";
  }
}
