.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  background: #bfdded;
  padding: 0.5rem;
  border-radius: 10px;
}

.container p {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
