.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.listItem {
  margin: 0 1rem;
}

.container {
  background-color: #ffffff;
}

.innerContainer {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
}

.homeImage {
  flex-grow: 1;
}

.navIcon {
  margin: 0 0.25rem;
}

.donate {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
}

.donateButton {
  margin-left: 1rem;
}

.navLink {
  display: flex;

  text-decoration: none;
  font-size: 14px;
  color: #333333;
}

.navLink:hover {
  text-decoration: underline;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
    display: none;
  }
}
