.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-bottom: 3rem;
}

.buttonMargin {
  margin-top: auto;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.list {
  padding: 0;
  list-style-type: none;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listItem {
  flex: 1 1 0;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  padding: 40px;

  display: flex;
  flex-direction: column;
}

.listItem h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.listItem p {
  font-size: 16px;
}

.link {
  color: #345979;
  font-size: 16px;
  text-decoration: none;

  margin-top: auto;
}

.linkList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.linkListLink {
  display: flex;
  gap: 0.5rem;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}

.linkListLink:hover,
.linkListLink:focus {
  text-decoration: underline;
}

.arrowAvatar.arrowAvatar {
  background-color: #94c64e;
  height: 20px;
  width: 20px;
}

.avatarIcon.avatarIcon {
  font-size: 20px;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.phoneNumber {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.officeHours {
  margin-top: 0;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .list {
    grid-template-columns: 1fr;
  }
}
