.noImageContainer {
  height: 100%;
}

.list {
  list-style-type: none;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.closeButton {
  background: none;
  border: none;
  margin-left: auto;
  font-size: 16px;
  color: #00537f;
  cursor: pointer;
}

.bookButton {
  text-align: center;
}

.closeButton:hover,
.closeButton:focus {
  text-decoration: underline;
}

.titleRow {
  display: flex;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}

.bold {
  font-weight: bold;
}

.bulletAvatar.bulletAvatar {
  width: 20px;
  height: 20px;
  background-color: #00537f;
}

.icon.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.error {
  font-weight: bold;
  color: red;
}

.imageContainer {
  position: relative;
  min-height: 450px;
  background-color: #f5f5f5;
}

.topContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.rightHandSide {
  background-color: #bfdded;
  padding: 0.5rem;
}

.bottomContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;

  padding: 1rem;

  background-color: #eeeeee;
}

.shareButtons.shareButtons {
  margin-left: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.tagLine {
  color: #00537f;
  font-size: 16px;
  text-align: center;
}

.rightHandSide {
  display: flex;
  flex-direction: column;
}

.price {
  color: #00537f;
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

.avatar.avatar.avatar.avatar {
  background-color: white;
  color: #333333;
}

.bookButtonContainer {
  text-align: center;
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.formControl label {
  margin: 0;
}

.learningLevelContainer {
  margin: 1rem auto;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .topContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .price {
    margin: 0;
  }

  .shareButtons.shareButtons.shareButtons {
    display: none;
  }

  .bottomContainer {
    display: flex;
    justify-content: center;
  }

  .bookButton {
    padding: 1rem 3rem;
  }
}
