.rightAlign {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-bottom: 2rem;
  text-align: right;
}

.error {
  font-weight: bold;
  color: red;
}

.allResourcesButton {
  margin-top: 2rem;
}

.emptyCart {
  margin: 4rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  text-align: center;
}
