.list {
  list-style-type: none;
  padding: 0;
}

.pageContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pageContent li {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Chevron' transform='translate(-105.000000, -51.000000)'%3E%3Ccircle id='Oval' fill='%2394C64E' cx='116' cy='62' r='11'%3E%3C/circle%3E%3Cpath d='M112.94915,55.7224833 C112.487394,56.1842395 112.486986,56.9327682 112.948238,57.3950276 L116.133585,60.5873295 C116.912578,61.3680238 116.912578,62.6319762 116.133585,63.4126705 L112.948238,66.6049724 C112.486986,67.0672318 112.487394,67.8157605 112.94915,68.2775167 C113.410759,68.7391255 114.159175,68.7391255 114.620783,68.2775167 L119.484086,63.4142136 C120.265135,62.633165 120.265135,61.366835 119.484086,60.5857864 L114.620783,55.7224833 C114.159175,55.2608745 113.410759,55.2608745 112.94915,55.7224833 Z' id='Path' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* 
<svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Chevron" transform="translate(-105.000000, -51.000000)">
            <circle id="Oval" fill="#94C64E" cx="116" cy="62" r="11"></circle>
            <path d="M112.94915,55.7224833 C112.487394,56.1842395 112.486986,56.9327682 112.948238,57.3950276 L116.133585,60.5873295 C116.912578,61.3680238 116.912578,62.6319762 116.133585,63.4126705 L112.948238,66.6049724 C112.486986,67.0672318 112.487394,67.8157605 112.94915,68.2775167 C113.410759,68.7391255 114.159175,68.7391255 114.620783,68.2775167 L119.484086,63.4142136 C120.265135,62.633165 120.265135,61.366835 119.484086,60.5857864 L114.620783,55.7224833 C114.159175,55.2608745 113.410759,55.2608745 112.94915,55.7224833 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
        </g>
    </g>
</svg> */

.link {
  text-decoration: none;
  color: #00537f;
}

.link:focus,
.link:hover {
  text-decoration: underline;
}

.imageContainer {
  max-width: 900px;
  margin: 0 auto;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.listAvatar.listAvatar {
  width: 20px;
  height: 20px;
  background-color: #94c64e;
}

.inlineCard {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  padding: 40px;
  margin: 1rem 0;
}

.extraSpacing {
  margin: 5rem 0;
}

.inlineCard h2 {
  margin-top: 0;
}

.cardTitle.cardTitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.cardDescription.cardDescription {
  font-size: 32px;
  line-height: 39px;
}

.cardButton.cardButton {
  margin: 1rem 0;
  margin-top: 1.5rem;
}

.cardContact.cardContact {
  font-size: 16px;
}

.bottomContainer {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.quote {
  padding: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex: 0 0 445px;
  max-width: 90%;
  border-bottom: 1px solid #dfdfdf;
}

.quote > div > p {
  margin: 0;
}

.quote > div > h3 {
  margin: 0;
}
.quote > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quoteText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quoteText p {
  margin: 0;
}

.avatar.avatar {
  width: 60px;
  height: 60px;
  background: #bfdded;
}

.icon.icon {
  color: #5589b7;
  font-size: 40px;
}

.quoteContent {
  color: #00537f;

  font-size: 22px;
}

.downloadFormButtonContainer {
  margin: 1rem 0;
}

.downloadFormButton {
  background-color: #005eb8;
}

.pricingButton {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.serviceProvidedByContainer {
  padding-left: calc(60px + 1rem);
  margin-top: 2rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .bottomContainer {
    grid-template-columns: 1fr;
  }

  .bottomContainer > div:last-child {
    grid-row: 1;
  }
}
