.splitColumns {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  grid-template-areas: "form form form giveUsACall";
  gap: 3rem;
}

.changingPlaceImage {
  position: relative;
  height: 200px;
}

.officeInfoContainer {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.imageContainer {
  width: 100%;
  position: relative;
  height: 400px;
  margin-bottom: 2rem;
}

.inlineForm {
  width: 90%;
  text-align: center;
  margin: 3rem auto;
}

.form {
  width: 100%;
  grid-area: form;
}

.giveUsACall {
  width: 100%;
  grid-area: giveUsACall;
}

.officePageTitle {
  padding-top: 0;
}

.youtubeVideo {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 600px;
}

.address {
  margin: 0.5rem 0;
}

.address p {
  margin: 0;
  font-style: italic;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.imageGrid > * {
  text-align: center;
}

.changingPlaceTitle {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-top: 3rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .splitColumns {
    gap: 1rem;

    grid-template-areas:
      "form"
      "giveUsACall";
  }

  .imageGrid {
    grid-template-columns: 1fr;
  }

  .officeInfoContainer {
    grid-template-columns: 1fr;
  }
}
