.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.informationReserve {
  text-decoration: underline;
  cursor: pointer;
}

.container > :first-child {
  margin-top: 0;
}
