.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.contentBody {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.courseTitle {
  font-size: 34px;
  font-weight: bold;
}
