.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.inlineCard {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  padding: 40px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.inlineCard h3,
.inlineCard p {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.timezone {
  font-style: italic;
  margin: 0;
}

.mailingListContainer {
  padding-bottom: 2rem;
}

.contentBody {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.courseTitle {
  font-size: 34px;
  font-weight: bold;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .contentBody {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
