.cardTitle.cardTitle {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.coverImageContainerLaaces.coverImageContainerLaaces {
  max-width: var(--containerMaxWidth);
}

.imageClassNameLaaces {
  object-position: left top !important;
}

.inlineQuote {
  font-style: italic;
}

.inlineQuoteContainer {
  margin-left: 16px;
}

.cardDescription.cardDescription {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
}

.cardButton.cardButton {
  background-color: #ffffff;
  color: #005eb8;
}

.cardButtonContainer {
  margin: 1rem 0;
  margin-top: 1.5rem;
}

.cardContact.cardContact {
  color: #ffffff;
  font-size: 16px;
}

.bottomContainer {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.quote {
  padding: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex: 0 0 445px;
  max-width: 90%;
  border-bottom: 1px solid #dfdfdf;
}

.quoteText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quoteText p {
  margin: 0;
}

.avatar.avatar {
  width: 60px;
  height: 60px;
  background: #005eb8;
}

.icon.icon {
  color: #ffffff;
  font-size: 40px;
}

.quoteContent {
  color: #005eb8;
  font-size: 22px;
}

.downloadFormButtonContainer {
  margin: 1rem 0;
}

.downloadFormButton {
  background-color: #005eb8;
}

.serviceProvidedByContainer {
  padding-left: calc(60px + 1rem);
  margin-top: 2rem;
}

.leftContent {
  margin-top: -4rem;
}

/** Mobile CSS */
@media (max-width: 1024px) {
  .leftContent {
    margin-top: 0;
  }

  .coverHeight {
    height: 800px;
  }
}

/** Mobile CSS */
@media (max-width: 760px) {
  .bottomContainer {
    grid-template-columns: 1fr;
  }
}
