.cardTitle.cardTitle {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.cardDescription.cardDescription {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
}

.cardButton.cardButton {
  background-color: #ffffff;
  color: #005eb8;
  margin: 1rem 0;
}

.cardContact.cardContact {
  color: #ffffff;
  font-size: 16px;
}

.bottomContainer {
  max-width: var(--containerMaxWidth);
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .bottomContainer {
    grid-template-columns: 1fr;
  }
}
