.pageTitle {
  padding: 0;
  padding-bottom: 1rem;
  max-width: 720px;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 720px;
  font-size: 16px;
  margin-bottom: 2rem;
}

.container img {
  max-width: 100%;
  height: auto;
}

.container iframe {
  max-width: 100%;
  height: auto;
}

.container table {
  max-width: 100%;
  height: auto;
}
