.topArea {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);

  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 3rem;
}

.resourcesList.resourcesList {
  margin: 3rem auto;
}

.rightTopArea {
  position: relative;
}

/** Mobile CSS */
@media (max-width: 760px) {
  .topArea {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.bannerArea {
  position: relative;
  min-height: 410px;
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.newsletterContainer {
  margin: 1rem auto;
}

.topSection {
  text-align: center;
}

.topSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.topSection p {
  width: 60%;
  min-width: 250px;
  margin: 0 auto;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.closeButton {
  background: none;
  border: 0;

  color: #00537f;
  font-size: 16px;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  text-decoration: underline;
}

@media (max-width: 1090px) {
  .bottomSection {
    flex-direction: column;
  }

  .bannerArea {
    min-height: 300px;
  }
}
@media (max-width: 700px) {
  .bannerArea {
    min-height: 200px;
  }
}
