.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.staffCard {
  background-color: var(--primaryColour);
}

/** Mobile CSS */
@media (max-width: 760px) {
  .container {
  }
}
