.container {
  margin: 2rem auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  row-gap: 2rem;
}

/** Mobile CSS */

@media (max-width: 1000px) {
  .container {
  }
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .container {
  }

  .list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .container {
  }

  .list {
    grid-template-columns: 1fr;
  }
}
