.container {
  margin: 0 auto;
  width: 90%;
  max-width: var(--containerMaxWidth);
  margin-bottom: 2rem;
}

.searchBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 540px;
  width: 100%;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtersAndResult {
  display: grid;
  grid-template-columns: 3fr 9fr;
  margin-top: 2rem;
  gap: 1rem;
}

.filterContainer {
  background: #eeeeee;
  padding: 1rem;
  border-color: cyan;
}

.description {
  margin: 0;
  font-style: italic;
  font-size: 14px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resultsCount {
  margin: 0;
}

.icon.icon {
  font-size: 22px;
}

.optionsList {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sectionName {
  font-size: 1.17em;
  margin: 0;
  font-weight: bold;
}

.pillButton {
  background: #94c64e;
  border: 0;
  color: black;
  padding: 4px 12px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.pillButton:hover {
  cursor: pointer;
}

.resultsList {
  display: grid;
  gap: 1rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardContainer {
}

/** Mobile CSS */
@media (max-width: 1000px) {
  .resultsList {
    grid-template-columns: 1fr 1fr;
  }
}

/** Mobile CSS */
@media (max-width: 760px) {
  .filtersAndResult {
    grid-template-columns: 1fr;
  }

  .resultsList {
    grid-template-columns: 1fr;
  }
}
