name: Check Edwiser
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  CheckEdwiser:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install NPM deps
        run: yarn install

      - uses: actions/github-script@v6
        env:
          WORDPRESS_AUTH: ${{ secrets.WORDPRESS_AUTH }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_SECRET: ${{ secrets.SLACK_SECRET }}
        with:
          script: |
            const script = require('./scripts/check-edwiser')
            return await script(context);
