name: Close Pull Request

# only trigger on pull request closed events
on:
  pull_request:
    types: [closed]

concurrency:
  group: pull-request-checks-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  # Set deployment to inactive when we merge a PR
  PostMerge:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - uses: actions/github-script@v6
        id: get-title
        with:
          result-encoding: string
          script: |
            const script = require('./scripts/calculate-deploy-key')
            return script(context);

      - uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.SUPER_TOKEN }}
          environment: ${{ steps.get-title.outputs.result }}
